/*font-family: 'Nerko One', cursive;
font-family: 'Open Sans', sans-serif;*/
h1 {
  font-family: "Nerko One", cursive;
  font-size: 96px;
}

body {
  font-family: "Open Sans", sans-serif;
}
.container {
  margin-top: 160px;
}

.warning{
      font-size: 96px;
}
.base{
      font-size: 30px;
      font-weight: 700;
}